<a href="https://colab.research.google.com/github/skarot/RecommenderSystem/blob/main/ContentBasedRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recommender System for movie recommendation

## Content based recommender

This type of recommender system doesnot depend on user, but is based on the similarity of items. Like on Amazon website 'people also bought', 'often bought together'.

## EDA

### Load data

In [45]:
import pandas as pd
import numpy as np

In [46]:
pwd

'/content'

In [47]:
#cd ..
%cd '/content'

/content

In [48]:
df_credits = pd.read_csv('tmdb_5000_credits.csv')

In [49]:
df_movies = pd.read_csv('tmdb_5000_movies.csv')

In [50]:
#df_movies['genres'].loc[4802:].values[0]

In [51]:
"""import json
op = json.loads(df_movies['genres'].loc[4802:].values[0])
op[0]['name']
#df_movies['genres'].loc[4802:].values[0]"""

"import json\nop = json.loads(df_movies['genres'].loc[4802:].values[0])\nop[0]['name']\n#df_movies['genres'].loc[4802:].values[0]"

### Data Analysis

In [52]:
df_credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [53]:
df_movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [54]:
df_movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [55]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

### Merge two df based on movie_id as id

Rename the column movie_id to id in df_credits dataframe

In [56]:
#df_credits.rename(inplace = True,columns = {'movie_id':'id'})
df_credits.rename({'movie_id':'id'}, axis = 1,inplace = True)

In [57]:
df_credits

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

Merge

In [58]:
df = df_movies.merge(df_credits,  on='id')

In [59]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [61]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

### Remove unwanted columns

In [62]:
df = df.drop(['production_countries','status','title_y','title_x','homepage'], axis = 1)

In [63]:
df.columns

Index(['budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'tagline',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

## Vectorization

### Remove null

In [64]:
df['overview'] = df['overview'].fillna('')

### Use NLP tfidf to convert the Overview column text into vectors

In [65]:
df['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [66]:

from sklearn.feature_extraction.text import TfidfVectorizer
tvz = TfidfVectorizer(strip_accents='unicode',analyzer='word',stop_words='english',token_pattern = '\w{1,}',min_df=3,ngram_range=(1,3))

In [67]:
df_vector = tvz.fit_transform(df['overview'])

In [68]:
df_vector.shape

(4803, 10417)

In [69]:
df_vector[0]

<1x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 15 stored elements in Compressed Sparse Row format>

## SigmoidKernel to calculate similarity between each overview with others

In [70]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(df_vector,df_vector)

In [71]:
sig[1363]
#array([0.76159416, 0.76159416, 0.76159455, ..., 0.76159473, 0.76159461,
#0.76163447])

array([0.76159416, 0.76159451, 0.76159533, ..., 0.76159444, 0.76159444,
       0.76159473])

This array of score will have how similar an entry of overview is with others. The first value will be highest as it is similarity of first with utself

### Create a reverse mapping of movie indices with title and id

In [72]:
movie_indices = pd.Series(df.index,index=df['original_title']).drop_duplicates()

### Create an enumerated list of sigmoid score

In [73]:
movie_indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

This can later be mapped to movie_indices series to get score per title

## Custom code, used sigmoid score to get top 10 recommendations

In [89]:
def get_rec(title,sig = sig):
  movie_index = movie_indices[title]

  sig_array = sig[movie_index]

  sig_score_per_id = list(enumerate(sig_array))

  sig_scores = sorted(sig_score_per_id, key = lambda x:x[1], reverse = True)
  #sig_score_sorted is a list of tuples, where each tuple is (id, title)
  sig_score_sorted = sig_scores[1:11]

  movie_rec_ids = [i[0] for i in sig_score_sorted]

  movie_recs =df['original_title'].iloc[movie_rec_ids]

  return movie_recs

print(get_rec('Spy Kids',sig))

1302    Spy Kids 2: The Island of Lost Dreams
1155                  Spy Kids 3-D: Game Over
1769      Spy Kids: All the Time in the World
4044                               Go for It!
3359                              In Too Deep
1631                                 Mr. 3000
1825                Jimmy Neutron: Boy Genius
339                           The Incredibles
3793                     The Velocity of Gary
1081                       Revolutionary Road
Name: original_title, dtype: object

In [75]:
movie_indices['Spy Kids']

1363

### Checking the get_rec function step by step

In [76]:
movie_index = movie_indices['Titanic']

In [77]:
movie_index

25

In [78]:
sig_array = sig[movie_index]

In [79]:
sig_array

array([0.76159416, 0.76159444, 0.76159416, ..., 0.76159439, 0.76159439,
       0.76159669])

In [80]:
sig_score_per_id = list(enumerate(sig_array))

In [81]:
sig_score_per_id

[(0, 0.7615941559557649),
 (1, 0.7615944442292607),
 (2, 0.7615941559557649),
 (3, 0.7615953816484402),
 (4, 0.7615941559557649),
 (5, 0.7615952758820054),
 (6, 0.7615943447088489),
 (7, 0.7615941559557649),
 (8, 0.7615948407436888),
 (9, 0.7615941559557649),
 (10, 0.76159445866237),
 (11, 0.7615944550911878),
 (12, 0.7615949707362111),
 (13, 0.7615956945872773),
 (14, 0.7615946748155702),
 (15, 0.7615948189620042),
 (16, 0.7615941559557649),
 (17, 0.7615977450530766),
 (18, 0.7615945715450686),
 (19, 0.7615941559557649),
 (20, 0.7615945072237564),
 (21, 0.7615941559557649),
 (22, 0.7615941559557649),
 (23, 0.7615941559557649),
 (24, 0.7615965711253341),
 (25, 0.7616344692549826),
 (26, 0.7615941559557649),
 (27, 0.7615941559557649),
 (28, 0.7615945660971247),
 (29, 0.7615941559557649),
 (30, 0.7615941559557649),
 (31, 0.7615949539745203),
 (32, 0.7615953771907422),
 (33, 0.7615941559557649),
 (34, 0.7615948167582542),
 (35, 0.7615943811435559),
 (36, 0.7615941559557649),
 (37, 0.7615949572945608),
 (38, 0.7615947042563678),
 (39, 0.7615949594077911),
 (40, 0.7615941559557649),
 (41, 0.7615951824003255),
 (42, 0.7615944164202841),
 (43, 0.7615944874806031),
 (44, 0.7615941559557649),
 (45, 0.7615942956357926),
 (46, 0.7615941559557649),
 (47, 0.7615954880443208),
 (48, 0.7615955579470438),
 (49, 0.7615945575899792),
 (50, 0.7615941559557649),
 (51, 0.7615947402251153),
 (52, 0.7615941559557649),
 (53, 0.761594935524374),
 (54, 0.7615963348682249),
 (55, 0.7615950200759263),
 (56, 0.7615941559557649),
 (57, 0.7615979422541123),
 (58, 0.7615950845385429),
 (59, 0.7615941559557649),
 (60, 0.7615951005952247),
 (61, 0.7615949360514034),
 (62, 0.7615957081122595),
 (63, 0.7615941559557649),
 (64, 0.7615941559557649),
 (65, 0.7615941559557649),
 (66, 0.7615964238788097),
 (67, 0.7615941559557649),
 (68, 0.7615941559557649),
 (69, 0.7615943238183974),
 (70, 0.7615941559557649),
 (71, 0.7615964707787848),
 (72, 0.7615941559557649),
 (73, 0.7615949662783441),
 (74, 0.7615941559557649),
 (75, 0.7615964443492306),
 (76, 0.7615941559557649),
 (77, 0.761594618760892),
 (78, 0.7615951247697335),
 (79, 0.7615943186144533),
 (80, 0.7615944789631597),
 (81, 0.7615949570442129),
 (82, 0.7615941559557649),
 (83, 0.761595091670848),
 (84, 0.7615941559557649),
 (85, 0.7615941559557649),
 (86, 0.7615941559557649),
 (87, 0.7615941559557649),
 (88, 0.7615941559557649),
 (89, 0.7615966247771015),
 (90, 0.7615946222462091),
 (91, 0.7615941559557649),
 (92, 0.7615941559557649),
 (93, 0.7615943932161183),
 (94, 0.7615950701389945),
 (95, 0.761595384401413),
 (96, 0.7615946720961146),
 (97, 0.7615943054881108),
 (98, 0.7615943622826244),
 (99, 0.7615941559557649),
 (100, 0.7615973652420739),
 (101, 0.7615943930634862),
 (102, 0.7615941559557649),
 (103, 0.7615941559557649),
 (104, 0.7615988066021125),
 (105, 0.7615941559557649),
 (106, 0.761594481550502),
 (107, 0.7615944529949092),
 (108, 0.7615944746979031),
 (109, 0.7615979825972152),
 (110, 0.7615941559557649),
 (111, 0.7615943637374558),
 (112, 0.7615941559557649),
 (113, 0.7615944642615703),
 (114, 0.7615944455865309),
 (115, 0.7615944377473278),
 (116, 0.7615945374663389),
 (117, 0.7615944624626584),
 (118, 0.7615946340666362),
 (119, 0.7615943412406081),
 (120, 0.7615944494388089),
 (121, 0.7615941559557649),
 (122, 0.7615950129285907),
 (123, 0.7615941559557649),
 (124, 0.7615943548296946),
 (125, 0.7615943434135927),
 (126, 0.7615941559557649),
 (127, 0.761595491359542),
 (128, 0.7615941559557649),
 (129, 0.7615941559557649),
 (130, 0.7615941559557649),
 (131, 0.7615941559557649),
 (132, 0.7615950818189949),
 (133, 0.7615941559557649),
 (134, 0.7615941559557649),
 (135, 0.7615941559557649),
 (136, 0.7615943106321605),
 (137, 0.7615942482798289),
 (138, 0.7615952292657993),
 (139, 0.7615947189595121),
 (140, 0.7615941559557649),
 (141, 0.7615941559557649),
 (142, 0.7615941559557649),
 (143, 0.7615952152905872),
 (144, 0.7615944265091156),
 (145, 0.7615946981613875),
 (146, 0.7615941559557649),
 (147, 0.7615941559557649),
 (148, 0.7615941559557649),
 (149, 0.7615941559557649),
 (150, 0.7615946488585038),
 (151, 0.7615941559557649),
 (152, 0.7615941559557649),
 (153, 0.7615947472038475),
 (154, 0.7615941559557649),
 (155, 0.7615946167267286),
 (156, 0.7615943190516121),
 (157, 0.7615941559557649),
 (158, 0.7615941559557649),
 (159, 0.7615941559557649),
 (160, 0.7615953138788951),
 (161, 0.7615941559557649),
 (162, 0.7615941559557649),
 (163, 0.7615945006460424),
 (164, 0.7615941559557649),
 (165, 0.7615941559557649),
 (166, 0.7615941559557649),
 (167, 0.7615941559557649),
 (168, 0.7615941559557649),
 (169, 0.7615944344468544),
 (170, 0.7615941559557649),
 (171, 0.7615992331671503),
 (172, 0.7615941559557649),
 (173, 0.7615944713042773),
 (174, 0.7615941559557649),
 (175, 0.7615941559557649),
 (176, 0.7615941559557649),
 (177, 0.7615941559557649),
 (178, 0.7615941559557649),
 (179, 0.7615941559557649),
 (180, 0.7615948145180573),
 (181, 0.7615941559557649),
 (182, 0.7615941559557649),
 (183, 0.7615941559557649),
 (184, 0.7615948668280781),
 (185, 0.7615943959697014),
 (186, 0.7615941559557649),
 (187, 0.7615947015070601),
 (188, 0.7615944114981223),
 (189, 0.7615941559557649),
 (190, 0.7615976618291547),
 (191, 0.7615944834257332),
 (192, 0.7615953110144527),
 (193, 0.7615951801345369),
 (194, 0.7615941559557649),
 (195, 0.7615941559557649),
 (196, 0.7615944249351463),
 (197, 0.7615943057056992),
 (198, 0.7615941559557649),
 (199, 0.7615946726988676),
 (200, 0.7615941559557649),
 (201, 0.7615941559557649),
 (202, 0.7615941559557649),
 (203, 0.7615941559557649),
 (204, 0.7615941559557649),
 (205, 0.7615941559557649),
 (206, 0.7615941559557649),
 (207, 0.7615941559557649),
 (208, 0.7615941559557649),
 (209, 0.7615949687154364),
 (210, 0.7615941559557649),
 (211, 0.7615941559557649),
 (212, 0.7615950358780563),
 (213, 0.7615946675884634),
 (214, 0.7615943174577389),
 (215, 0.7615944972882692),
 (216, 0.7615959880065362),
 (217, 0.7615955346163694),
 (218, 0.7615941559557649),
 (219, 0.7615941559557649),
 (220, 0.7615941559557649),
 (221, 0.7615948719848105),
 (222, 0.761594908902064),
 (223, 0.7615944163401505),
 (224, 0.7615949182814666),
 (225, 0.7615945370629112),
 (226, 0.7615943715423045),
 (227, 0.7615941559557649),
 (228, 0.761595182046956),
 (229, 0.7615948368842171),
 (230, 0.7615955103116059),
 (231, 0.7615945048599224),
 (232, 0.7615955265421406),
 (233, 0.761594460404682),
 (234, 0.7615941559557649),
 (235, 0.7615963992370909),
 (236, 0.7615941559557649),
 (237, 0.7615946456973264),
 (238, 0.7615958349348944),
 (239, 0.76159453543314),
 (240, 0.7615949486025458),
 (241, 0.7615941559557649),
 (242, 0.7615947982697309),
 (243, 0.7615941559557649),
 (244, 0.7615941559557649),
 (245, 0.7615941559557649),
 (246, 0.7615948088325276),
 (247, 0.7615944862559517),
 (248, 0.7615944540865265),
 (249, 0.7615941559557649),
 (250, 0.7615943612982877),
 (251, 0.7615941559557649),
 (252, 0.7615943177552302),
 (253, 0.7615941559557649),
 (254, 0.7615941559557649),
 (255, 0.7615941559557649),
 (256, 0.7615941559557649),
 (257, 0.7615941559557649),
 (258, 0.7615946247626434),
 (259, 0.7615944185308919),
 (260, 0.7615956513534395),
 (261, 0.7615943978367795),
 (262, 0.7615943673061231),
 (263, 0.7615951709322926),
 (264, 0.7615945850980197),
 (265, 0.7615941559557649),
 (266, 0.7615945933688313),
 (267, 0.7615953930628991),
 (268, 0.7615957146079413),
 (269, 0.7615946944036549),
 (270, 0.7615941559557649),
 (271, 0.7615941559557649),
 (272, 0.7615941559557649),
 (273, 0.7615943126003478),
 (274, 0.7615951974883075),
 (275, 0.7615941559557649),
 (276, 0.761594413198102),
 (277, 0.7615954085454868),
 (278, 0.7615941559557649),
 (279, 0.7615947602455674),
 (280, 0.7615941559557649),
 (281, 0.7615949891753006),
 (282, 0.7615945076320529),
 (283, 0.7615953584786199),
 (284, 0.7615955739752378),
 (285, 0.7615941559557649),
 (286, 0.7615943036897569),
 (287, 0.7615941559557649),
 (288, 0.7615941559557649),
 (289, 0.7615941559557649),
 (290, 0.7615941559557649),
 (291, 0.7615941559557649),
 (292, 0.7615941559557649),
 (293, 0.7615941559557649),
 (294, 0.7615941559557649),
 (295, 0.7615945494106575),
 (296, 0.7616007835610765),
 (297, 0.7615941559557649),
 (298, 0.7615941559557649),
 (299, 0.7615941559557649),
 (300, 0.7615959834254322),
 (301, 0.761594801449368),
 (302, 0.7615943692449555),
 (303, 0.76159478694123),
 (304, 0.7615950502511126),
 (305, 0.7615949326688177),
 (306, 0.761595061324733),
 (307, 0.7615948521507698),
 (308, 0.7615944009326763),
 (309, 0.7615941559557649),
 (310, 0.7615973430085861),
 (311, 0.7615944870588763),
 (312, 0.7615941559557649),
 (313, 0.7615946508637094),
 (314, 0.7615941559557649),
 (315, 0.7615951374359746),
 (316, 0.7615943957404443),
 (317, 0.7615941559557649),
 (318, 0.7615941559557649),
 (319, 0.7615946338048374),
 (320, 0.7615941559557649),
 (321, 0.7615950212044698),
 (322, 0.7615944484543888),
 (323, 0.7615943390813805),
 (324, 0.7615941559557649),
 (325, 0.7615970020171822),
 (326, 0.7615943893490464),
 (327, 0.7615953258474113),
 (328, 0.7615943893341043),
 (329, 0.7615941559557649),
 (330, 0.7615941559557649),
 (331, 0.7615953254126211),
 (332, 0.7615941559557649),
 (333, 0.7615941559557649),
 (334, 0.7615941559557649),
 (335, 0.7615941559557649),
 (336, 0.7615946740588811),
 (337, 0.761595158014552),
 (338, 0.7615941559557649),
 (339, 0.7615941559557649),
 (340, 0.7615941559557649),
 (341, 0.7615941559557649),
 (342, 0.7615941559557649),
 (343, 0.7615947375878156),
 (344, 0.7615943784663008),
 (345, 0.7615942986772564),
 (346, 0.7615941559557649),
 (347, 0.7615941559557649),
 (348, 0.761594364973815),
 (349, 0.7615947205936677),
 (350, 0.7615941559557649),
 (351, 0.7615941559557649),
 (352, 0.761595137723888),
 (353, 0.7615941559557649),
 (354, 0.7615951763001811),
 (355, 0.7615951900066593),
 (356, 0.7615941559557649),
 (357, 0.7615968815965423),
 (358, 0.7615941559557649),
 (359, 0.7615941559557649),
 (360, 0.7615941559557649),
 (361, 0.7615945776870092),
 (362, 0.7615954678214206),
 (363, 0.7615943089907843),
 (364, 0.7615941559557649),
 (365, 0.7615941559557649),
 (366, 0.7615941559557649),
 (367, 0.7615941559557649),
 (368, 0.7615941559557649),
 (369, 0.7615941559557649),
 (370, 0.7615945480738209),
 (371, 0.7615941559557649),
 (372, 0.7615945049862504),
 (373, 0.7615941559557649),
 (374, 0.7615952261857695),
 (375, 0.7615949087663532),
 (376, 0.761594934614416),
 (377, 0.7615941559557649),
 (378, 0.7615979040412063),
 (379, 0.76159460966265),
 (380, 0.7615949142309659),
 (381, 0.7615946272748635),
 (382, 0.7615951595250475),
 (383, 0.7615945225435906),
 (384, 0.7615941559557649),
 (385, 0.7615941559557649),
 (386, 0.7615944994456215),
 (387, 0.7615941559557649),
 (388, 0.7615941559557649),
 (389, 0.7615944053574609),
 (390, 0.7615941559557649),
 (391, 0.7615941559557649),
 (392, 0.7615941559557649),
 (393, 0.7615941559557649),
 (394, 0.7615949873477201),
 (395, 0.7615952483148324),
 (396, 0.7615941559557649),
 (397, 0.7615946527031415),
 (398, 0.7615941559557649),
 (399, 0.7615941559557649),
 (400, 0.7615941559557649),
 (401, 0.7615941559557649),
 (402, 0.7615944581297768),
 (403, 0.7615957271593427),
 (404, 0.7615951224829729),
 (405, 0.7615941559557649),
 (406, 0.7615948211726415),
 (407, 0.7615945652385248),
 (408, 0.7615941559557649),
 (409, 0.7615943611046561),
 (410, 0.7615941559557649),
 (411, 0.7615948972370306),
 (412, 0.7615941559557649),
 (413, 0.7615941559557649),
 (414, 0.7615947426557003),
 (415, 0.7615945046767109),
 (416, 0.7615943782089041),
 (417, 0.7615941559557649),
 (418, 0.7615941559557649),
 (419, 0.7615941559557649),
 (420, 0.7615945076096209),
 (421, 0.7615946865536551),
 (422, 0.7615941559557649),
 (423, 0.7615943163103998),
 (424, 0.7615941559557649),
 (425, 0.7615941559557649),
 (426, 0.7615944618852384),
 (427, 0.7615944731304032),
 (428, 0.7615941559557649),
 (429, 0.7615941559557649),
 (430, 0.7615961820107555),
 (431, 0.7615941559557649),
 (432, 0.7615941559557649),
 (433, 0.7615941559557649),
 (434, 0.7615947218820329),
 (435, 0.7615970504749626),
 (436, 0.7615941559557649),
 (437, 0.7615941559557649),
 (438, 0.7615944848124356),
 (439, 0.7615941559557649),
 (440, 0.761594423724183),
 (441, 0.7615943977388067),
 (442, 0.7615941559557649),
 (443, 0.7615943100077984),
 (444, 0.7615943127628036),
 (445, 0.7615941559557649),
 (446, 0.7615941559557649),
 (447, 0.7615944296613224),
 (448, 0.7615966358046484),
 (449, 0.7615941559557649),
 (450, 0.7615941559557649),
 (451, 0.7615941559557649),
 (452, 0.7615950268407251),
 (453, 0.761594698253397),
 (454, 0.7615941559557649),
 (455, 0.7615941559557649),
 (456, 0.7615969286483768),
 (457, 0.7615943292459308),
 (458, 0.7615943992472333),
 (459, 0.7615949754934352),
 (460, 0.7615949890231716),
 (461, 0.76159483542794),
 (462, 0.7615944779996753),
 (463, 0.7615941559557649),
 (464, 0.7615954281286641),
 (465, 0.7615941559557649),
 (466, 0.7615945258331367),
 (467, 0.7615951988620937),
 (468, 0.7615941559557649),
 (469, 0.7615943800021857),
 (470, 0.7615941559557649),
 (471, 0.7615941559557649),
 (472, 0.7615941559557649),
 (473, 0.7615941559557649),
 (474, 0.7615957239087798),
 (475, 0.7615950503583091),
 (476, 0.7615948558555141),
 (477, 0.7615941559557649),
 (478, 0.7615941559557649),
 (479, 0.7615946567040279),
 (480, 0.7615944685478477),
 (481, 0.7615941559557649),
 (482, 0.7615945662129748),
 (483, 0.7615941559557649),
 (484, 0.7615954152938433),
 (485, 0.7615941559557649),
 (486, 0.7615949560322984),
 (487, 0.7615941559557649),
 (488, 0.7615949951810299),
 (489, 0.7615941559557649),
 (490, 0.7615941559557649),
 (491, 0.761595247685111),
 (492, 0.7615941559557649),
 (493, 0.7615941559557649),
 (494, 0.7615959569759772),
 (495, 0.7615941559557649),
 (496, 0.7615944459921705),
 (497, 0.7615941559557649),
 (498, 0.7615954498637099),
 (499, 0.7615958103420297),
 (500, 0.7615941559557649),
 (501, 0.7615967534978548),
 (502, 0.7615941559557649),
 (503, 0.7615941559557649),
 (504, 0.7615955622668207),
 (505, 0.7615941559557649),
 (506, 0.7615941559557649),
 (507, 0.7615948562322481),
 (508, 0.7615944122952512),
 (509, 0.7615961581053498),
 (510, 0.761594529389165),
 (511, 0.7615941559557649),
 (512, 0.7615941559557649),
 (513, 0.7615941559557649),
 (514, 0.7615941559557649),
 (515, 0.7615941559557649),
 (516, 0.7615959127696501),
 (517, 0.7615941559557649),
 (518, 0.7615948291185972),
 (519, 0.7615941559557649),
 (520, 0.7615941559557649),
 (521, 0.7615941559557649),
 (522, 0.7615951645973024),
 (523, 0.7615941559557649),
 (524, 0.7615947873936239),
 (525, 0.7615941559557649),
 (526, 0.7615944384428496),
 (527, 0.7615941559557649),
 (528, 0.7615941559557649),
 (529, 0.7615941559557649),
 (530, 0.7615944212407325),
 (531, 0.7615941559557649),
 (532, 0.7615945171363928),
 (533, 0.7615941559557649),
 (534, 0.7615941559557649),
 (535, 0.7615941559557649),
 (536, 0.7615952354837028),
 (537, 0.7615941559557649),
 (538, 0.7615941559557649),
 (539, 0.7615951668484213),
 (540, 0.7615941559557649),
 (541, 0.7615941559557649),
 (542, 0.7615949265195946),
 (543, 0.7615941559557649),
 (544, 0.7615941559557649),
 (545, 0.7615952902341033),
 (546, 0.7615941559557649),
 (547, 0.7615944163266843),
 (548, 0.7615944957475129),
 (549, 0.7615954952881754),
 (550, 0.7615941559557649),
 (551, 0.7615941559557649),
 (552, 0.7615941559557649),
 (553, 0.7615941559557649),
 (554, 0.7615949744983794),
 (555, 0.7615941559557649),
 (556, 0.7615941559557649),
 (557, 0.7615941559557649),
 (558, 0.7615941559557649),
 (559, 0.7615946819838171),
 (560, 0.7615942916192677),
 (561, 0.7615969069805304),
 (562, 0.7615949929719819),
 (563, 0.7615941559557649),
 (564, 0.7615941559557649),
 (565, 0.761594681940791),
 (566, 0.761594317996761),
 (567, 0.7615953130978851),
 (568, 0.7615941559557649),
 (569, 0.7615941559557649),
 (570, 0.7615941559557649),
 (571, 0.7615941559557649),
 (572, 0.7615941559557649),
 (573, 0.7615941559557649),
 (574, 0.7615941559557649),
 (575, 0.761594713723707),
 (576, 0.7615958073499253),
 (577, 0.7615941559557649),
 (578, 0.7615941559557649),
 (579, 0.7615951647187593),
 (580, 0.7615941559557649),
 (581, 0.7615941559557649),
 (582, 0.7615941559557649),
 (583, 0.7615952975301138),
 (584, 0.7615941559557649),
 (585, 0.7615957430039882),
 (586, 0.7615945910250714),
 (587, 0.7615941559557649),
 (588, 0.7615948337627902),
 (589, 0.7615941559557649),
 (590, 0.7615941559557649),
 (591, 0.761594381102721),
 (592, 0.7615952065175341),
 (593, 0.7615941559557649),
 (594, 0.7615941559557649),
 (595, 0.7615941559557649),
 (596, 0.7615954999639283),
 (597, 0.7615965572219439),
 (598, 0.7615941559557649),
 (599, 0.7615949962026417),
 (600, 0.7615949797481589),
 (601, 0.7615947913118357),
 (602, 0.7615941559557649),
 (603, 0.7615941559557649),
 (604, 0.7615941559557649),
 (605, 0.7615943973537549),
 (606, 0.7615941559557649),
 (607, 0.7615941559557649),
 (608, 0.7615948053954842),
 (609, 0.7615941559557649),
 (610, 0.7615944854852095),
 (611, 0.7615943337077191),
 (612, 0.7615942963082597),
 (613, 0.7615944668178142),
 (614, 0.7615941559557649),
 (615, 0.7615941559557649),
 (616, 0.7615941559557649),
 (617, 0.7615945936943044),
 (618, 0.7615941559557649),
 (619, 0.7615947070724167),
 (620, 0.7615954196681074),
 (621, 0.7615941559557649),
 (622, 0.7615941559557649),
 (623, 0.7615942772708187),
 (624, 0.761594710176944),
 (625, 0.7615941559557649),
 (626, 0.7615941559557649),
 (627, 0.7615957300724812),
 (628, 0.7615941559557649),
 (629, 0.7615941559557649),
 (630, 0.7615941559557649),
 (631, 0.7615941559557649),
 (632, 0.7615954797071176),
 (633, 0.7615941559557649),
 (634, 0.7615966215190939),
 (635, 0.7615946565567079),
 (636, 0.7615941559557649),
 (637, 0.761595410904458),
 (638, 0.7615941559557649),
 (639, 0.7615941559557649),
 (640, 0.7615944445925669),
 (641, 0.7615941559557649),
 (642, 0.7615944171814001),
 (643, 0.7615941559557649),
 (644, 0.7615957702432423),
 (645, 0.7615941559557649),
 (646, 0.7615952305863121),
 (647, 0.7615941559557649),
 (648, 0.7615946957220404),
 (649, 0.7615953893481948),
 (650, 0.7615941559557649),
 (651, 0.7615946003634942),
 (652, 0.7615966809720865),
 (653, 0.7615947817427808),
 (654, 0.7615944146064622),
 (655, 0.7615941559557649),
 (656, 0.7615951065181302),
 (657, 0.7615941559557649),
 (658, 0.7615945319144444),
 (659, 0.7615956592020601),
 (660, 0.7615941559557649),
 (661, 0.7615952876074432),
 (662, 0.7615941559557649),
 (663, 0.7615941559557649),
 (664, 0.761595679042849),
 (665, 0.7615946325652649),
 (666, 0.7615944875254891),
 (667, 0.7615941559557649),
 (668, 0.761594885736404),
 (669, 0.7615941559557649),
 (670, 0.7615955568807893),
 (671, 0.7615941559557649),
 (672, 0.7615941559557649),
 (673, 0.7615944522227005),
 (674, 0.7615946290216766),
 (675, 0.7615941559557649),
 (676, 0.7615943195488447),
 (677, 0.7615948779943245),
 (678, 0.7615947306928897),
 (679, 0.7615941559557649),
 (680, 0.7615952040419813),
 (681, 0.7615941559557649),
 (682, 0.7615947685330565),
 (683, 0.7615949976328761),
 (684, 0.7615941559557649),
 (685, 0.7615960584330045),
 (686, 0.7615941559557649),
 (687, 0.7615941559557649),
 (688, 0.7615947993004253),
 (689, 0.7615945288273123),
 (690, 0.7615948454224926),
 (691, 0.7615941559557649),
 (692, 0.7615941559557649),
 (693, 0.7615941559557649),
 (694, 0.7615959295111685),
 (695, 0.7615941559557649),
 (696, 0.7615946102580112),
 (697, 0.7615959686161868),
 (698, 0.7615954806585731),
 (699, 0.7615941559557649),
 (700, 0.7615946347980197),
 (701, 0.7615941559557649),
 (702, 0.7615941559557649),
 (703, 0.7615941559557649),
 (704, 0.7615941559557649),
 (705, 0.7615941559557649),
 (706, 0.7615943592460888),
 (707, 0.7615941559557649),
 (708, 0.7615941559557649),
 (709, 0.7615946501915712),
 (710, 0.7615961929185958),
 (711, 0.7615946824168982),
 (712, 0.7615958026248059),
 (713, 0.761594572952759),
 (714, 0.7615941559557649),
 (715, 0.7615941559557649),
 (716, 0.7615953385847635),
 (717, 0.7615946622093842),
 (718, 0.7615945216659189),

In [82]:
sig_score_sorted = sorted(sig_score_per_id, key = lambda x:x[1], reverse = True)

NOTE - When we sort in ascending order the score for the given movie itself is highest

In [83]:
sig_score_sorted =sig_score_sorted[:11]

In [84]:
sig_score_sorted

[(25, 0.7616344692549826),
 (1269, 0.7616027041521651),
 (2289, 0.7616014679405584),
 (296, 0.7616007835610765),
 (2287, 0.7615997570256086),
 (2143, 0.7615996786903533),
 (4287, 0.7615992776394515),
 (171, 0.7615992331671503),
 (4035, 0.7615990905946002),
 (4228, 0.7615990834896436),
 (104, 0.7615988066021125)]

In [85]:
sig_score_sorted[0][0]

25

In [86]:
movie_indices[0]

0

In [87]:
movie_rec_ids = [i[0] for i in sig_score_sorted]

### Test

In [88]:
# this line should be included in the cell where the function is declared see output there
#print(get_rec('The Dark Knight Rises',sig))