<a href="https://colab.research.google.com/github/skarot/RecommenderSystem/blob/main/ContentBasedRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recommender System for movie recommendation

## Content based recommender

This type of recommender system doesnot depend on user, but is based on the similarity of items. Like on Amazon website 'people also bought', 'often bought together'.

## EDA

### Load data

In [76]:
import pandas as pd
import numpy as np

In [77]:
pwd

'/'

In [78]:
cd ..

/

In [79]:
df_credits = pd.read_csv('tmdb_5000_credits.csv')

In [80]:
df_movies = pd.read_csv('tmdb_5000_movies.csv')

### Data Analysis

In [81]:
df_credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [82]:
df_movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [83]:
df_movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [84]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

### Merge two df based on movie_id as id

Rename the column movie_id to id in df_credits dataframe

In [85]:
#df_credits.rename(inplace = True,columns = {'movie_id':'id'})
df_credits.rename({'movie_id':'id'}, axis = 1,inplace = True)

In [ ]:
df_credits

Merge

In [87]:
df = df_movies.merge(df_credits,  on='id')

In [ ]:
df.info()

### Remove unwanted columns

In [89]:
df = df.drop(['budget','homepage','production_companies','revenue','status'], axis = 1)

In [90]:
df.columns

Index(['genres', 'id', 'keywords', 'original_language', 'original_title',
       'overview', 'popularity', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

## Vectorization

### Remove null

In [98]:
df['overview'] = df['overview'].fillna('')

### Use NLP tfidf to convert the Overview column text into vectors

In [91]:
df['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [96]:

from sklearn.feature_extraction.text import TfidfVectorizer
tvz = TfidfVectorizer(strip_accents='unicode',analyzer='word',stop_words='english',token_pattern = '\w{1,}',min_df=3,ngram_range=(1,3))

In [99]:
df_vector = tvz.fit_transform(df['overview'])

In [101]:
df_vector.shape

(4803, 10417)

In [103]:
df_vector[0]

<1x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 15 stored elements in Compressed Sparse Row format>

## SigmoidKernel to calculate similarity between each overview with others

In [104]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(df_vector,df_vector)

In [105]:
sig[0]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

This array of score will have how similar an entry of overview is with others. The first value will be highest as it is similarity of first with utself

### Create a reverse mapping of movie indices with title and id

In [112]:
movie_indices = pd.Series(df.index,index=df['original_title']).drop_duplicates()

In [113]:
movie_indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

### Create an enumerated list of sigmoid score

This can later be mapped to movie_indices series to get score per title

## Custom code, used sigmoid score to get top 10 recommendations

In [157]:
def get_rec(title,sig = sig):
  movie_index = movie_indices[title]

  sig_array = sig[movie_index]

  sig_score_per_id = list(enumerate(sig_array))

  sig_top_score = sig_score_per_id[:11]

  sig_score_sorted = sorted(sig_top_score, key = lambda x:x[1], reverse = True)
  #sig_score_sorted is a list of tuples, where each tuple is (id, title)

  movie_rec_ids = [i[0] for i in sig_score_sorted]

  movie_recs =df['original_title'].iloc[movie_rec_ids]

  return movie_recs

print(get_rec('The Dark Knight Rises',sig))

3                        The Dark Knight Rises
9           Batman v Superman: Dawn of Justice
7                      Avengers: Age of Ultron
6                                      Tangled
0                                       Avatar
8       Harry Potter and the Half-Blood Prince
4                                  John Carter
5                                 Spider-Man 3
2                                      Spectre
1     Pirates of the Caribbean: At World's End
10                            Superman Returns
Name: original_title, dtype: object

### Checking the get_rec function step by step

In [115]:
movie_index = movie_indices['Avatar']

In [116]:
movie_index

0

In [117]:
sig_array = sig[movie_index]

In [118]:
sig_array

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [120]:
sig_score_per_id = list(enumerate(sig_array))

In [ ]:
sig_score_per_id

In [124]:
sig_score_sorted = sorted(sig_score_per_id, key = lambda x:x[1], reverse = True)

NOTE - When we sort in ascending order the score for the given movie itself is highest

In [147]:
sig_score_sorted =sig_score_sorted[:11]

In [148]:
sig_score_sorted

[(0, 0.7616344692549826),
 (1341, 0.7616025920447054),
 (634, 0.7616024401965419),
 (3604, 0.7616014406892477),
 (2130, 0.7616011812503369),
 (775, 0.7616007762729179),
 (529, 0.7615992890001902),
 (151, 0.761598879941716),
 (311, 0.7615988278895982),
 (847, 0.7615985500328715),
 (942, 0.7615982329969357)]

In [149]:
sig_score_sorted[0][0]

0

In [150]:
movie_indices[0]

0

In [151]:
movie_rec_ids = [i[0] for i in sig_score_sorted]

### Test

In [ ]:
# this line should be included in the cell where the function is declared see output there
print(get_rec('The Dark Knight Rises',sig))